@charset "UTF-8";

/* 마우스 메뉴 */

.context-menus {
  position: absolute;
  display: none;
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
  text-align: center;
}

.context-menus.active {
  display: block;
  background-color: white;
}

.context-menus.active>ul>li {
  list-style: none;
  padding: 10px;
}

.context-menus.active>ul>li:hover {
  background-color: lightgreen;
}
